<!-- about section start -->
<div class="about_section layout_padding margin_top90" style="margin-bottom: 90px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about_img"><img src="assets/images/about-img.png" /></div>
      </div>
      <div class="col-md-6 ">
        <div class="about_text_main">
          <h1 class="about_taital">{{ "about.title" | translate }}</h1>
          <p class="about_text">
            Amiri Lawyers & Legal Consultants was established in the United Arab
            Emirates in 2012, providing the best services on a wide range of
            different legal fields, including but not limited to arbitration,
            air navigation law, banking and finance law, Islamic banking laws,
            commercial law, civil law, company law, company incorporation and
            registration in the commercial register, consumer protection law,
            criminal law and penalties, seizure and detention procedures, debt
            collection and recovery, environmental law, inheritance and estate
            law, labor law, international trade law, intellectual property
            rights, enforcement of judicial rulings, immigration law, injuries
            and compensation, insurance law, family law, international law,
            professional ethics laws, investment law, laws related to
            hospitality and hotels, organizing entertainment and amusement,
            science and technology law, land, real estate and rental laws,
            property regulation laws, lawsuits, sports laws, tax law,
            transportation and communications law Commercial law...etc. Each
            lawyer at Amiri Lawyers & Legal Consultants has sufficient
            qualifications and solid and well-known experience in any matter he
            is asked to deal with, and it is a well-known experience with a
            distinguished academic background that leads to providing the best
            services to the client. Our lawyers are registered in many councils
            and unions regulating the legal profession and have continued to
            provide the best legal assistance and assistance services in many
            areas of law. Amiri Lawyers & Legal Consultants provides its
            services to individuals and companies based on solid experience that
            has gained the satisfaction and appreciation of all clients. We are
            fully aware that our success depends to a large extent on the
            quality of the relationship and the full coordination that we ensure
            with our clients. We also always emphasize that the work team
            listens well through continuous communication with clients by all
            means of communication, whether in person, by email or regular
            correspondence. It is a quick-response team that always seeks to
            confirm and ensure that what the client has entrusted it with has
            been accomplished as required. Choosing the right lawyer to
            represent you is the most important decision you can make to pave
            your way in a complex and rapidly changing legal world. You really
            need a law firm that understands this world and understands you as
            well. If you personally or in relation to your business need legal
            assistance, all you have to do is contact our office, whatever the
            challenge, we can help you to reach the desired result as much as
            possible.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- about section end -->
