

<section id="about" class="about section">
  <h3 class="customer_name" style="padding-left: 100px; padding-top: 50px">
    * {{ 'services.labor' | translate }} :-
  </h3>

  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img src="assets/images/about-img.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-6 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <ul>
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{'laborLaw.p1' | translate}}</span>
            <!-- <span> Amiri Lawyers & Legal Consultants provides various services related to labor law, including:</span> -->
          </li>
          
          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'laborLaw.p2' | translate}}</span>

            <!-- <span> Legal Consultations: Providing legal advice to employers and workers about their rights and duties. </span> -->
          </li>

          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'laborLaw.p3' | translate}}</span>

            <!-- <span> Labor Contract Analysis: Examining and analyzing labor contracts to ensure their compliance with local labor laws. </span> -->
          </li>

          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'laborLaw.p4' | translate}}</span>

            <!-- <span>Dispute Resolution: Assisting in settling labor disputes and negotiating between the two parties to achieve an amicable solution.</span> -->
          </li>
          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'laborLaw.p5' | translate}}</span>

            <!-- <span> Providing Support in Legal Cases: Providing legal support in the event of labor law issues.</span> -->
          </li>

          <li>
            <i class="bi bi-star-fill" style="color: #e73232"></i>
            <span>{{'laborLaw.p6' | translate}}</span>


            <!-- <span>
              To obtain labor law legal services within the United Arab Emirates, it is preferable to speak directly with us and learn about the details of the services we provide and the fees related to them.</span> -->
          </li>


         
          <li>
            <i class="bi bi-star-fill" style="color: #e73232"></i>
            <span>{{'laborLaw.p7' | translate}}</span>

            <!-- <span> Amiri Lawyers and Legal Consultants provides integrated legal services to its clients with advice and counsel regarding legal problems and issues facing businesses and individuals in the world today. The office aims to provide a service with leading levels of legal support and services with results directed to its clients. </span> -->
          </li><br>

         

        

      
        </ul>
      </div>
    </div>
  </div>
</section>
