<div class="header_section">

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <a class="navbar-brand" routerLink=""><img src="assets/images/newLogo.png" width="90px" height="30px" style="margin-left: 60px;"></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item ">
                <a class="nav-link notranslate" routerLink="home">{{ 'nav.home' | translate }}</a>
             </li>
             <li class="nav-item">
                <a class="nav-link notranslate" routerLink="about">{{ 'nav.about' | translate }}</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="what_we">{{ 'nav.what' | translate }}</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="blog">{{ 'nav.blog' | translate }}</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="contact">{{ 'nav.contact' | translate }}</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" routerLink="dashboard">Dash</a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
             <div class="login_bt">
                <ul>
                   <li><a href="#"><span class="user_icon"><i class="fa fa-user" aria-hidden="true"></i></span>Login</a></li>
                   <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                </ul>
             </div>
          </form> -->

          <ul class="nav-menu ">
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">
                  <i class="fas fa-globe"></i>
                </button>

                <div class="dropdown-content">
                  <a  (click)="changeLanguage('en')">
                     <img src="assets/images/UK-flag.png" alt="English Flag" width="20" />
                     English</a>
                  <a  (click)="changeLanguage('ar')">
                     <img src="assets/images/ara.png" alt="English Flag" width="20" />
                     العربية</a>
                </div>
                <!-- <div class="dropdown-content">
                  <a (click)="changeLanguage()">{{lang == 'en' ? 'عربي' :"English"}}</a>
                </div> -->
              </div>
            </li>
          </ul>

       </div>
    </nav>
 </div>
 </div>