<!-- Cover silder -->
<div class="header_section">

  <div class="banner_section layout_padding">
      <div class="container-fluid">
         <div id="banner_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="banner_taital_main">
                           <h1 class="banner_taital">نقدم لكم جميع الخدمات القانونية</h1>
                           <!-- <p class="banner_text">Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem</p> -->
                           <div class="readmore_btn active"><a href="#">{{'cover.read' | translate}}</a></div>
                           <div class="started_bt"><a routerLink="contact">{{'nav.contact' | translate}}</a></div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="banner_img"><img src="assets/images/banner-img.png"></div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                   <div class="col-md-6">
                      <div class="banner_taital_main">
                         <h1 class="banner_taital">We Provide Law Practice</h1>
                         <!-- <p class="banner_text">Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem</p> -->
                         <div class="readmore_btn active"><a href="#">{{'cover.read' | translate}}</a></div>
                         <div class="started_bt"><a routerLink="contact">{{'nav.contact' | translate}}</a></div>
                      </div>
                   </div>
                     <div class="col-md-6">
                        <div class="banner_img"><img src="assets/images/banner-img.png"></div>
                     </div>
                  </div>
               </div>
               <!-- <div class="carousel-item">
                  <div class="row">
                   <div class="col-md-6">
                      <div class="banner_taital_main">
                         <h1 class="banner_taital">We Provide Law Practice</h1>
                         <p class="banner_text">Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem</p>
                         <div class="readmore_btn active"><a href="#">{{'cover.read' | translate}}</a></div>
                         <div class="started_bt"><a routerLink="contact">{{'nav.contact' | translate}}</a></div>
                      </div>
                   </div>
                     <div class="col-md-6">
                        <div class="banner_img"><img src="assets/images/banner-img.png"></div>
                     </div>
                  </div>
               </div> -->
            </div>
            <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
            <i class="fa fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
            <i class="fa fa-arrow-right"></i>
            </a>
         </div>
      </div>
   </div>
   </div>
  

<!-- boxes on Cover -->
<div class="container">
<div class="box_section">
  <div class="online_box">
    <div class="online_box_left">
      <div class="online_box_main">
        <div class="box_left">
          <div class="right_arrow"><i class="fa fa-arrow-right"></i></div>
        </div>
        <div class="box_right">
          <p class="book_text">احجز</p>
          <h4 class="appoinment_text">موعد</h4>
        </div>
      </div>
    </div>
    <div class="online_box_left">
      <div class="online_box_main">
        <div class="box_left">
          <div class="right_arrow"><i class="fa fa-arrow-right"></i></div>
        </div>
        <div class="box_right">
          <p class="book_text active">احصل على</p>
          <h4 class="appoinment_text active">استشارة مجانية</h4>
        </div>
      </div>
    </div>
    <div class="online_box_left">
      <div class="online_box_main">
        <div class="box_left">
          <div class="right_arrow"><i class="fa fa-arrow-right"></i></div>
        </div>
        <div class="box_right" routerLink="/articles">
          <p class="book_text">اقرأ</p>
          <h4 class="appoinment_text">بعض مقالاتنا</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- services -->
<div class="services_section">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="studies_taital">{{ "services.service" | translate }}</h1>
    </div>
  </div>
</div>
<div class="services_section_2">
  <div id="main_slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="service_box">
                <div class="house_icon">
                  <img src="assets/images/icon-1.png" class="image_1" />
                  <img src="assets/images/icon-4.png" class="image_2" />
                </div>
                <h3 class="corporate_text">
                  {{ "services.company" | translate }}
                </h3>
                <p class="chunks_text">
                  * {{ "companyField.p1" | translate }}<br />
                  * {{ "companyField.p2" | translate }}.
                  <!-- * {{'companyField.p3' | translate}}. -->
                </p>
                <div class="readmore_button">
                  <a routerLink="Companies">{{ "cover.read" | translate }}</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="service_box">
                <div class="house_icon">
                  <img src="assets/images/icon-3.png" class="image_1" />
                  <img src="assets/images/icon-6.png" class="image_2" />
                </div>
                <h3 class="corporate_text">
                  {{ "services.labor" | translate }}
                </h3>
                <p class="chunks_text">
                  * {{ "laborLaw.p2" | translate }}<br />
                </p>
                <div class="readmore_button">
                  <a routerLink="Working">{{ "cover.read" | translate }}</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="service_box">
                <div class="house_icon">
                  <img src="assets/images/icon-2.png" class="image_1" />
                  <img src="assets/images/icon-5.png" class="image_2" />
                </div>
                <h3 class="corporate_text">
                  {{ "services.legal" | translate }}
                </h3>
                <p class="chunks_text">* {{ "legal.p1" | translate }}</p>
                <div class="readmore_button">
                  <a routerLink="legal">{{ "cover.read" | translate }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="service_box">
                <div class="house_icon">
                  <img src="assets/images/icon-1.png" class="image_1" />
                  <img src="assets/images/icon-4.png" class="image_2" />
                </div>
                <h3 class="corporate_text">
                  {{ "services.company" | translate }}
                </h3>
                <p class="chunks_text">
                  * {{ "companyField.p1" | translate }}<br />
                  * {{ "companyField.p2" | translate }}.
                  <!-- * {{'companyField.p3' | translate}}. -->
                </p>
                <div class="readmore_button">
                  <a routerLink="Companies">{{ "cover.read" | translate }}</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="service_box">
                <div class="house_icon">
                  <img src="assets/images/icon-3.png" class="image_1" />
                  <img src="assets/images/icon-6.png" class="image_2" />
                </div>
                <h3 class="corporate_text">
                  {{ "services.labor" | translate }}
                </h3>
                <p class="chunks_text">
                  * {{ "laborLaw.p2" | translate }}<br />
                </p>
                <div class="readmore_button">
                  <a routerLink="Working">{{ "cover.read" | translate }}</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="service_box">
                <div class="house_icon">
                  <img src="assets/images/icon-2.png" class="image_1" />
                  <img src="assets/images/icon-5.png" class="image_2" />
                </div>
                <h3 class="corporate_text">
                  {{ "services.legal" | translate }}
                </h3>
                <p class="chunks_text">* {{ "legal.p1" | translate }}</p>
                <div class="readmore_button">
                  <a routerLink="legal">{{ "cover.read" | translate }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="service_box">
                <div class="house_icon">
                  <img src="assets/images/icon-1.png" class="image_1" />
                  <img src="assets/images/icon-4.png" class="image_2" />
                </div>
                <h3 class="corporate_text">
                  {{ "services.company" | translate }}
                </h3>
                <p class="chunks_text">
                  * {{ "companyField.p1" | translate }}<br />
                  * {{ "companyField.p2" | translate }}.
                  <!-- * {{'companyField.p3' | translate}}. -->
                </p>
                <div class="readmore_button">
                  <a routerLink="Companies">{{ "cover.read" | translate }}</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="service_box">
                <div class="house_icon">
                  <img src="assets/images/icon-3.png" class="image_1" />
                  <img src="assets/images/icon-6.png" class="image_2" />
                </div>
                <h3 class="corporate_text">
                  {{ "services.labor" | translate }}
                </h3>
                <p class="chunks_text">
                  * {{ "laborLaw.p2" | translate }}<br />
                </p>
                <div class="readmore_button">
                  <a routerLink="Working">{{ "cover.read" | translate }}</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="service_box">
                <div class="house_icon">
                  <img src="assets/images/icon-2.png" class="image_1" />
                  <img src="assets/images/icon-5.png" class="image_2" />
                </div>
                <h3 class="corporate_text">
                  {{ "services.legal" | translate }}
                </h3>
                <p class="chunks_text">* {{ "legal.p1" | translate }}</p>
                <div class="readmore_button">
                  <a routerLink="legal">{{ "cover.read" | translate }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#main_slider"
      role="button"
      data-slide="prev"
    >
      <i class="fa fa-arrow-left"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#main_slider"
      role="button"
      data-slide="next"
    >
      <i class="fa fa-arrow-right"></i>
    </a>
  </div>
</div>
</div>

<!-- Team section start -->
<div class="studies_section layout_padding">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="studies_taital">{{ "persons.team" | translate }}</h1>
    </div>
  </div>
  <div class="studies_section_2">
    <div class="row">
      <div class="col-md-4">
        <div class="hover01 column">
          <figure><img src="assets/images/ali.png" /></figure>
        </div>
        <div class="studies_box">
          <h3 class="introduction_text">
            {{ "persons.ali" | translate }}
          </h3>
        </div>
        <div class="read_bt">
          <a routerLink="/aliAmiri">{{ "cover.read" | translate }}</a>
        </div>
      </div>

      <div class="col-md-4">
        <!-- <div class="hover01 column">
                   <figure><img src="assets/images/service-img3.png"></figure>
                </div> -->
        <!-- <div class="studies_box">
                   <h3 class="introduction_text">Ahmed Amiri</h3>
                </div> -->
        <!-- <div class="read_bt"><a href="#">Read More</a></div> -->
      </div>

      <div class="col-md-4">
        <div class="hover01 column">
          <figure><img src="assets/images/ahmed.png" /></figure>
        </div>
        <div class="studies_box">
          <h3 class="introduction_text">
            {{ "persons.ahmed" | translate }}
          </h3>
        </div>
        <div class="read_bt">
          <a routerLink="ahmedAmiri">{{ "cover.read" | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Team section end -->

<!-- about section start -->
<div class="about_section layout_padding">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="about_img"><img src="assets/images/about-img.png" /></div>
    </div>
    <div class="col-md-6" [ngClass]="directionService.getDirection()">
      <div class="about_text_main">
        <h1 class="about_taital">{{ "nav.about" | translate }}</h1>
        <p class="about_text">
          {{ "about.description" | translate }}
        </p>
        <div
          class="readmore_bt"
          [ngClass]="directionService.getButtonAlignment()"
        >
          <a routerLink="about">{{ "cover.read" | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- about section end -->

<!-- testimonial section start -->
<!-- <div class="customer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <h1 class="customer_taital">SATISFIED CLIENT Says</h1>
            </div>
         </div>
      </div>
      <div id="my_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="customer_section_2">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="box_main">
                              <div class="customer_main">
                                 <div class="customer_left">
                                    <div class="customer_img"><img src="assets/images/customer-img.png"></div>
                                 </div>
                                 <div class="customer_right">
                                    <h3 class="customer_name">Giolio Mark <span class="quick_icon"><img src="assets/images/quick-icon.png"></span></h3>
                                    <p class="enim_text">anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internetanything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="customer_section_2">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="box_main">
                              <div class="customer_main">
                                 <div class="customer_left">
                                    <div class="customer_img"><img src="assets/images/customer-img.png"></div>
                                 </div>
                                 <div class="customer_right">
                                    <h3 class="customer_name">DenoMark <span class="quick_icon"><img src="assets/images/quick-icon.png"></span></h3>
                                    <p class="enim_text">anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internetanything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="customer_section_2">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="box_main">
                              <div class="customer_main">
                                 <div class="customer_left">
                                    <div class="customer_img"><img src="assets/images/customer-img.png"></div>
                                 </div>
                                 <div class="customer_right">
                                    <h3 class="customer_name">DenoMark <span class="quick_icon"><img src="assets/images/quick-icon.png"></span></h3>
                                    <p class="enim_text">anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internetanything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
         <i class="fa fa-arrow-left"></i>
         </a>
         <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
         <i class="fa fa-arrow-right"></i>
         </a>
      </div>
   </div> -->
<!-- testimonial section end -->

<!-- news section start -->
<!-- <div class="news_section layout_padding">
      <div class="container">
         <h1 class="news_taital">Recent News</h1>
         <div class="news_section_2">
            <div class="news_box">
               <div id="custom_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="news_img"><img src="assets/images/news-img.png"></div>
                     </div>
                     <div class="carousel-item">
                        <div class="news_img"><img src="assets/images/news-img.png"></div>
                     </div>
                     <div class="carousel-item">
                        <div class="news_img"><img src="assets/images/news-img.png"></div>
                     </div>
                  </div>
                  <a class="carousel-control-next" href="#custom_slider" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
                  </a>
               </div>
               <h2 class="does_taital">What Does Marijuana Law Mean for You?</h2>
               <p class="dummy_text">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </div>
         </div>
      </div>
   </div> -->
<!-- news section end -->

<!-- contact section start -->
<div class="contact_section layout_padding">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="contact_taital">{{ "nav.contact" | translate }}</h1>
    </div>
  </div>
  <div class="contact_section_2">
    <div class="row">
      <div class="col-md-12">
        <div class="mail_section map_form_container">
          <form
            action=""
            [ngClass]="directionService.getDirection()"
            [formGroup]="myContactForm"
            (ngSubmit)="onSubmitContact()"
          >
            <input
              type="text"
              class="mail_text"
              placeholder="{{ 'contact.Name' | translate }}"
              name="Name"
              formControlName="name"
            />
            <input
              type="text"
              class="mail_text"
              placeholder="{{ 'contact.phone' | translate }}"
              name="Phone Number"
              formControlName="phoneNumber"
            />
            <input
              type="text"
              class="mail_text"
              placeholder="{{ 'contact.email' | translate }}"
              name="Your Email"
              formControlName="email"
            />
            <textarea
              class="massage-bt"
              placeholder="{{ 'contact.message' | translate }}"
              rows="5"
              id="comment"
              name="Massage"
              formControlName="message"
            ></textarea>
            <div class="send_bt active" (click)="submitForm($event)">
              <a style="color: white">{{ "contact.send" | translate }}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- contact section end -->

<!-- Location section start -->

<!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300" >
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7220.547571180264!2d55.264018!3d25.1939879!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f42786672d14d%3A0x716e5965ee1eeeb!2sShurooq%20Works%20-%20Rawdat%20Al%20Wasl%20Bldg%20Sheikh%20Zayed%20Road%20-%20Dubai!5e0!3m2!1sar!2seg!4v1723516546916!5m2!1sar!2seg" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div> -->

<!-- Google Map Section -->
<div class="google_map_section">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="contact_taital pb-4">{{ "global.location" | translate }}</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10" data-aos="fade-up" data-aos-delay="300">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7220.547571180264!2d55.264018!3d25.1939879!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f42786672d14d%3A0x716e5965ee1eeeb!2sShurooq%20Works%20-%20Rawdat%20Al%20Wasl%20Bldg%20Sheikh%20Zayed%20Road%20-%20Dubai!5e0!3m2!1sar!2seg!4v1723516546916!5m2!1sar!2seg"
        width="1000"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
</div>