.google_map_section {
    margin-bottom: 20px; /* Space between the map and footer */
    text-align: center; /* Center the content inside the section */
}

.google_map_section iframe {
    max-width: 100%; /* Make sure it fits within the parent container */
    height: 450px;
    border: 0;
    display: block;
    margin: 0 auto; /* Center the iframe */
}


  /* font */
  .font{
    top: 0 !important;
  font-family: "Reem Kufi", "Markazi Text" !important;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khitan+Small+Script&family=Reem+Kufi:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
div,p , a ,h1, h2, h3, h4 , input,textarea {
  top: 0 !important;
  font-family: "Reem Kufi", "Markazi Text" !important;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khitan+Small+Script&family=Reem+Kufi:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

