

<section id="about" class="about section">
  <h3 class="customer_name" style="padding-left: 100px; padding-top: 50px">
    * {{'services.company' |translate}} :-
  </h3>

  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img src="assets/images/about-img.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-6 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <ul>
          <li>
            <i class="bi bi-check-circle " style="color: #e73232"></i>
            <span >{{'companyField.p1' | translate}}.</span>
            <!-- <span> Regarding the establishment and system of companies.</span> -->
          </li>
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{'companyField.p2' | translate}}.</span>

            <!-- <span> Construction Contracts.</span> -->
          </li>
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{'companyField.p3' | translate}}.</span>

            <!-- <span> Project Finance – Financing and Expense Agreements.</span> -->
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{'companyField.p4' | translate}}.</span>

            <!-- <span>
              We provide legal advice on a wide range of operational matters
              including:-</span
            > -->
          </li>
          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'companyField.p5' | translate}}.</span>

            <!-- <span> Business Contract Development. </span> -->
          </li>
          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'companyField.p6' | translate}}.</span>

            <!-- <span> General Document Review. </span> -->
          </li>

          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'companyField.p7' | translate}}.</span>

            <!-- <span> Sale and Purchase Agreements. </span> -->
          </li>
          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'companyField.p8' | translate}}.</span>

            <!-- <span>Independent Contractor and Consultant Agreements. </span> -->
          </li>
          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'companyField.p9' | translate}}.</span>

            <!-- <span> Employment and Shareholder Agreements.</span> -->
          </li>
          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'companyField.p10' | translate}}.</span>

            <!-- <span> Bonds and Bills of Exchange. </span> -->
          </li>

          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'companyField.p11' | translate}}.</span>

            <!-- <span> Website Privacy Policies. </span> -->
          </li>
          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'companyField.p12' | translate}}.</span>

            <!-- <span> Website Terms and Conditions. </span> -->
          </li>
          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'companyField.p13' | translate}}.</span>

            <!-- <span> Legal Notices. </span> -->
          </li>
          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{'companyField.p14' | translate}}.</span>

            <!-- <span> Legal Consultations. </span> -->
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{'companyField.p15' | translate}}.</span>

            <!-- <span>
              Our legal consultants respond to legal advice and provide various
              services in all branches of law, according to a fixed methodology
              in study, such as lawsuits, international cases and labor
              law.</span
            > -->
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{'companyField.p16' | translate}}.</span>

            <!-- <span> And laws of execution of judgments.</span> -->
          </li>
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{'companyField.p17' | translate}}.</span>

            <!-- <span> Legal advice and advice.</span> -->
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{'companyField.p18' | translate}}.</span>

            <!-- <span>
              More than 13 years of experience in various fields of law in
              addition to the experience of our lawyers that exceeded 35 years
              made us one of the most prestigious law firms in the United Arab
              Emirates.</span
            > -->
          </li>
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{'companyField.p19' | translate}}.</span>

            <!-- <span>
              Our experienced legal team; provides advice based on full
              knowledge of the legal environment.</span
            > -->
          </li>
          <li>
            <i class="bi bi-star-fill" style="color: #e73232"></i>
            <span>{{'companyField.p20' | translate}}.</span>

            <!-- <span>
              Whatever the challenge! We are here to provide the necessary
              service and support to help you.</span
            > -->
          </li><br>
        </ul>
      </div>
    </div>
  </div>
</section>
