<section id="about" class="about section">
  <h3 class="customer_name" style="padding-left: 100px; padding-top: 50px">
    * {{ 'services.legal' | translate }} :-
  </h3>

  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img src="assets/images/about-img.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-6 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <ul>
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p1' | translate }}</span>
            <!-- <span>
              Criminal case (misdemeanors, felonies, traffic accidents,
              immigration and residence).</span
            > -->
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p2' | translate }}</span>

            <!-- <span> Civil claims (compensation, claims). </span> -->
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p3' | translate }}</span>

            <!-- <span>
              Commercial litigation (including work related to the public and
              private sectors).
            </span> -->
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p4' | translate }}</span>

            <!-- <span>
              Labor claims (claims filed by the employer or employee).</span
            > -->
          </li>
          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p5' | translate }}</span>

            <!-- <span>
              Personal status (including divorce, alimony, custody and
              inheritance).</span
            > -->
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p6' | translate }}</span>

            <!-- <span> Debt Collection (Financial Claims).</span> -->
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p7' | translate }}</span>

            <!-- <span> Air and sea transport</span> -->
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p8' | translate }}</span>

            <!-- <span> Rental and real estate disputes</span> -->
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p9' | translate }}</span>

            <!-- <span> International Police (Interpol) issues</span> -->
          </li>

          <li>
            <i class="bi bi-check-circle" style="color: #e73232"></i>
            <span>{{ 'legal.p10' | translate }}</span>

            <!-- <span>
              Private international law issues in addition to the following
              services: -</span
            > -->
          </li>
          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{ 'legal.p11' | translate }}</span>

            <!-- <span> Legal translation</span> -->
          </li>
          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{ 'legal.p12' | translate }}</span>

            <!-- <span> Document authentication</span> -->
          </li>

          <li>
            <i class="bi bi-dot" style="color: #e73232"></i>
            <span>{{ 'legal.p13' | translate }}</span>

            <!-- <span> Document authentication</span> -->
          </li>
          <br />
        </ul>
      </div>
    </div>
  </div>
</section>
