<div class="services_section">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <h1 class="studies_taital" style="margin-top: 40px;">{{ 'services.service' | translate }}</h1>
         </div>
      </div>
   </div>
   <div class="services_section_2">
      <div id="main_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="service_box">
                           <div class="house_icon">
                              <img src="assets/images/icon-1.png" class="image_1">
                              <img src="assets/images/icon-4.png" class="image_2">
                           </div>
                           <h3 class="corporate_text">{{ 'services.company' | translate }}</h3>
                           <p class="chunks_text">
                            * {{'companyField.p1' | translate}}<br>
                            * {{'companyField.p2' | translate}}.
                            <!-- * {{'companyField.p3' | translate}}. -->
                           
                           </p>
                           <div class="readmore_button"><a routerLink="Companies">{{ 'cover.read' | translate }}</a></div>
                        </div>
                     </div>
                    
                     <div class="col-md-4">
                        <div class="service_box">
                           <div class="house_icon">
                              <img src="assets/images/icon-3.png" class="image_1">
                              <img src="assets/images/icon-6.png" class="image_2">
                           </div>
                           <h3 class="corporate_text">{{ 'services.labor' | translate }}</h3>
                           <p class="chunks_text">* {{'laborLaw.p2' | translate}}<br>
                           <div class="readmore_button"><a routerLink="Working">{{ 'cover.read' | translate }}</a></div>
                        </div>
                     </div>

                     <div class="col-md-4">
                       <div class="service_box">
                          <div class="house_icon">
                             <img src="assets/images/icon-2.png" class="image_1">
                             <img src="assets/images/icon-5.png" class="image_2">
                          </div>
                          <h3 class="corporate_text">{{ 'services.legal' | translate }}</h3>
                          <p class="chunks_text">* {{ 'legal.p1' | translate }} </p>
                          <div class="readmore_button"><a routerLink="legal">{{ 'cover.read' | translate }}</a></div>
                       </div>
                    </div>

                  </div>
               </div>
            </div>
            
            <div class="carousel-item ">
              <div class="container">
                 <div class="row">
                    <div class="col-md-4">
                       <div class="service_box">
                          <div class="house_icon">
                             <img src="assets/images/icon-1.png" class="image_1">
                             <img src="assets/images/icon-4.png" class="image_2">
                          </div>
                          <h3 class="corporate_text">{{ 'services.company' | translate }}</h3>
                          <p class="chunks_text">
                           * {{'companyField.p1' | translate}}<br>
                           * {{'companyField.p2' | translate}}.
                           <!-- * {{'companyField.p3' | translate}}. -->
                          
                          </p>
                          <div class="readmore_button"><a routerLink="Companies">{{ 'cover.read' | translate }}</a></div>
                       </div>
                    </div>
                   
                    <div class="col-md-4">
                       <div class="service_box">
                          <div class="house_icon">
                             <img src="assets/images/icon-3.png" class="image_1">
                             <img src="assets/images/icon-6.png" class="image_2">
                          </div>
                          <h3 class="corporate_text">{{ 'services.labor' | translate }}</h3>
                          <p class="chunks_text">* {{'laborLaw.p2' | translate}}<br>
                          <div class="readmore_button"><a routerLink="Working">{{ 'cover.read' | translate }}</a></div>
                       </div>
                    </div>

                    <div class="col-md-4">
                      <div class="service_box">
                         <div class="house_icon">
                            <img src="assets/images/icon-2.png" class="image_1">
                            <img src="assets/images/icon-5.png" class="image_2">
                         </div>
                         <h3 class="corporate_text">{{ 'services.legal' | translate }}</h3>
                         <p class="chunks_text">* {{ 'legal.p1' | translate }} </p>
                         <div class="readmore_button"><a routerLink="legal">{{ 'cover.read' | translate }}</a></div>
                      </div>
                   </div>

                 </div>
              </div>
           </div>

           <div class="carousel-item ">
              <div class="container">
                 <div class="row">
                    <div class="col-md-4">
                       <div class="service_box">
                          <div class="house_icon">
                             <img src="assets/images/icon-1.png" class="image_1">
                             <img src="assets/images/icon-4.png" class="image_2">
                          </div>
                          <h3 class="corporate_text">{{ 'services.company' | translate }}</h3>
                          <p class="chunks_text">
                           * {{'companyField.p1' | translate}}<br>
                           * {{'companyField.p2' | translate}}.
                           <!-- * {{'companyField.p3' | translate}}. -->
                          
                          </p>
                          <div class="readmore_button"><a routerLink="Companies">{{ 'cover.read' | translate }}</a></div>
                       </div>
                    </div>
                   
                    <div class="col-md-4">
                       <div class="service_box">
                          <div class="house_icon">
                             <img src="assets/images/icon-3.png" class="image_1">
                             <img src="assets/images/icon-6.png" class="image_2">
                          </div>
                          <h3 class="corporate_text">{{ 'services.labor' | translate }}</h3>
                          <p class="chunks_text">* {{'laborLaw.p2' | translate}}<br>
                          <div class="readmore_button"><a routerLink="Working">{{ 'cover.read' | translate }}</a></div>
                       </div>
                    </div>

                    <div class="col-md-4">
                      <div class="service_box">
                         <div class="house_icon">
                            <img src="assets/images/icon-2.png" class="image_1">
                            <img src="assets/images/icon-5.png" class="image_2">
                         </div>
                         <h3 class="corporate_text">{{ 'services.legal' | translate }}</h3>
                         <p class="chunks_text">* {{ 'legal.p1' | translate }} </p>
                         <div class="readmore_button"><a routerLink="legal">{{ 'cover.read' | translate }}</a></div>
                      </div>
                   </div>

                 </div>
              </div>
           </div>

         </div>
         <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
         <i class="fa fa-arrow-left"></i>
         </a>
         <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
         <i class="fa fa-arrow-right"></i>
         </a>
      </div>
   </div>
</div>