/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khitan+Small+Script&family=Reem+Kufi:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Markazi+Text:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khitan+Small+Script&family=Reem+Kufi:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body  {

  top: 0 !important;
  font-family: "Reem Kufi" !important;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khitan+Small+Script&family=Reem+Kufi:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: AGA Mashq;
  src: url('./assets/fonts/AGA-Mashq-Bold.ttf') format('truetype');
  font-weight: bold;
} */
div,p , a ,h1, h2, h3, h4 , input,textarea {
  top: 0 !important;
  font-family: "Reem Kufi", "Markazi Text" !important;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khitan+Small+Script&family=Reem+Kufi:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.goog-te-banner-frame.skiptranslate, .goog-te-gadget-icon {
    display: none !important;
  }
  

  
  #google_translate_element {
    display: none;
  }
  
/* For left-to-right languages like English */
.ltr-direction {
  text-align: left;
  direction: ltr;
}

/* For right-to-left languages like Arabic */
.rtl-direction {
  text-align: right;
  direction: rtl;
}

.ltr-align-button {
  float: left;
}

/* Align button to the right */
.rtl-align-button {
  float: right;
}